{% set guidance = [
  {
    title: "Guidance",
    url: "/guidance"
  }, {
    title: "Definitions",
    url: "/guidance/definitions"
  }, {
    title: "Standard categories",
    url: "/guidance/standard-categories"
  }
] %}


<nav class="dfe-vertical-nav">

  {%- if selectedNav === "Guidance" %}
    <ul class="dfe-vertical-nav__section">

     
      {% for item in guidance %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

  {%- if selectedNav === "Best practice" %} <a href="/best-practice" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to guidance</a>
  
  <ul class="dfe-vertical-nav__section">

     {% for item in bestpractice_forms %}
      <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>

{% endif %}

</nav>