{% extends "layouts/full.html" %}
{% set selectedNav = "Guidance" %}
{% set pageName = "Guidance for standards" %}
{% set seoPageName = "" %}
{% set pageDescription = "Information for drafting and publishing standards in the Department for Education." %}
{% set view = "Guidance" %}
{% set setSelectedSideNav = "Guidance" %}

{% block hero %}
    <section class="dfe-page-header dfe-page-header--with-sub-nav">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
<style>
    .app-callout {
    border-left-color: #1d70b8;
    }
    </style>
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include "includes/_side-nav.html"%}
            </div>

            <div class="govuk-grid-column-three-quarters">

                <p class="govuk-body">Standards are established norms or requirements. You must meet the relevant standards to ensure the expected quality levels for your service.</p>
                <p class="govuk-body">By following a common set of standards, we ensure consistency across the department and give ourselves a framework where we can measure compliance.</p>

                <p class="govuk-body">Standards should be:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>easily accessible, so that everyone understands what they need to include as part of their delivery needs and can plan for this  </li>
                    <li>stated in a clear and simple manner, allowing for objective assessment of compliance </li>
                    <li>dynamic, so may not exist indefinitely as we identify and manage new standards through a lifecycle process </li>
                </ul>

                <h2 class="govuk-heading-l">Stages for publishing a standard</h2>

                <p>content to be worked on</p>

                <div class="dfe-timeline">
                    <ol>
                        <li>
                            <h2 class="govuk-heading-m" id="proposal">Propose and draft a standard</h2>
                            <p class="govuk-body">A new or revised standard is proposed and drafted using the <a href="/downloads/doc.docx" class="govuk-link">standard template (Word document - 78.8KB)</a>. It details the identified need, scope, and objective of the standard.</p>

                       

                            <p class="govuk-body">Discussed and ratified to take forward to draft by the Head of Profession or profession-specific working groups. </p>
                            <p class="govuk-body">This proposal serves as the initial concept for the standard development.</p>
                        </li>

                        <li>
                            <h2 class="govuk-heading-m" id="standards-forum">Standards forum review</h2>
                       
                            <p class="govuk-body">The draft, along with feedback from the community, is reviewed by a standards forum. </p>
                            <p class="govuk-body">This board consists of subject matter experts and key stakeholders who evaluate the standard for accuracy, feasibility, and alignment with department approach to standards. </p>
                            <p class="govuk-body">A decision is made. The board can approve, reject, or ask for amendments to the standard.</p>
                        </li>
                        <li>
                            <h2 class="govuk-heading-m" id="outcome">Outcome</h2>
                            <p class="govuk-body">The standards form will provide feedback to the owner and submittor of the standard.</p>
                            <h3 class="govuk-heading-s">Approval</h3>
                            <p class="govuk-body">The working group approves the standard.</p>
                            <p class="govuk-body">At this point, comms and other processes are put in place before final publication.</p>
                            <h3 class="govuk-heading-s">Rejection</h3>

                            <p class="govuk-body">If the standard fails to meet criteria during the review, it is rejected. </p>
                            <p class="govuk-body">The reasons for rejection are provided back to the owner, and the standard may either be abandoned or revised for resubmission. </p>
                        </li>
                        <li>
                            <h2 class="govuk-heading-m" id="outcome">Published</h2>
                            <p class="govuk-body">Once approved, the standard can be published and made widely available in the Standards manual.</p>
                        </li>
                        <li>
                            <h2 class="govuk-heading-m" id="outcome">Archived</h2>
                            <p class="govuk-body">Standards no longer required or abandoned, may be unpublished for an indeterminable amount of time and either revised or republished later.</p>
                            <p class="govuk-body">Standard could be superseded by another standard.</p>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

{% endblock %}