{% extends "layouts/full.html" %}
{% set selectedNav = "Guidance" %}
{% set pageName = "Standard categories" %}
{% set seoPageName = "" %}
{% set pageDescription = "Information for ..." %}
{% set view = "Standard categories" %}
{% set setSelectedSideNav = "Standard categories" %}

{% block hero %}
    <section class="dfe-page-header dfe-page-header--with-sub-nav">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include "includes/_side-nav.html"%}
            </div>

            <div class="govuk-grid-column-three-quarters"></div>
        </div>
    </div>

{% endblock %}