<section style="background: #f3f2f1; border-top: 4px solid #347ca9;" class=" govuk-!-padding-top-9 govuk-!-padding-bottom-9">
    <div class="dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l">Help and support</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
                <p>For support with accessibility and inclusive design queries relating to the digital delivery of
                    services, products, and websites, <a href="">contact the
                        DesignOps team</a>.</p>
                <p>For support or advice with accessibility relating to the workplace, devices, and documents and
                    presentations <a href="">contact the
                        Accessibility team</a>.</p>
                <h3 class="govuk-heading-m">Other ways to get help</h3>
                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a href="">DfE Accessibility Slack channel</a>
                    </li>
                    <li>
                        <a href="">Champions network</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                        <div class="dfe-card-container">
                            <h3 class="govuk-heading-m">
                                <a href="#"
                                    class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Accessibility
                                    drop-ins</a>
                            </h3>
                            <p>See our upcoming drop-in dates where you can get support, advice and ask questions to
                                accessibility specialists.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>