<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
      You can use markdown in this field
    </span>
    </summary>
    <div class="govuk-details__text">
        <p>Markdown is a way to format text for the web, that doesn't require you to write HTML code.</p>
        <p>To write a header, use two hash symbols and a space, for example: ## Heading.</p>
        <p>For sub headings of a heading, use 3 hash symbols.</p>
        <p>Never use a single hash to define a header.</p>
        <p>To add a link, use square brackets for the text and round brackets for the URL, for example: [GOV.UK](https://www.gov.uk).</p>
        <p>To add a list, use a hyphen followed by a space, for example: - list item 1 and put each list item on a new line.</p>
        <p>To add a numbered list, use a number followed by a full stop and a space, for example: 1. list item 1 and put each list item on a new line.</p>
    </div>
</details>