   <h2 class="govuk-heading-l">What to do next</h2>

   <p>You need to check or verify that the accessibility issues the tool finds are issues, rather than <a href="/knowledge-hub/tools-testing/false-positives">false positives or false assurances</a>.</p>

   <p>If an issue is genuine, speak to your developer or design team to consider, then implement, a fix.</p>

   <p>You can read guidance for how to <a href="/knowledge-hub/managing-issues">manage and prioritise issues</a> in the knowledge hub.</p>