{% extends "layouts/homepage.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Standards manual" %}
{% set seoPageName = "" %}
{% set pageDescription = "Understand the guidance, principles, and standards for good service delivery in the Department for Education."%}
{% set mainClasses = "govuk-!-padding-bottom-0" %}

{% block hero %}
   <section class="dfe-page-hero">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl">
                  {% if seoPageName %}{{seoPageName}}
                  {% else %}{{pageName}}
                  {% endif %}
               </h1>
               <p class="govuk-body-l">
                  {% if seoPageDescription %}{{seoPageDescription}}
                  {% else %}{{pageDescription}}
                  {% endif %}
               </p>
            </div>
         </div>
      </div>
   </section>
{% endblock %}

{% block content %}

   <section class="govuk-!-margin-bottom-0">
      <div class="govuk-width-container">

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-l">DfE Standards</h2>
               <p class="govuk-body-l">The standards you're required to meet, and how to meet them, when building and running services, products and websites in the Department for Education.</p>
               <div class="dfe-grid-container govuk-!-margin-top-9">

                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="/standards" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Search all standards</a>
                        </h3>
                        <p>Search and filter all the standards across all standard categories.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="/categories" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Standards by category</a>
                        </h3>
                        <p>See all standards that are applicable to a specific category.
                     </p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="/guidance" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Guidance</a>
                        </h3>
                        <p>Understanding what standards are, how to create and describe a standard for others to follow.
                     </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section style="background-color:#ffffff;"  class="govuk-!-padding-top-8 govuk-!-padding-bottom-9 govuk-!-margin-top-0">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                     <div class="dfe-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
                        <div class="dfe-banner__content-container" >
                           <div class="dfe-banner__inner-content-container">
                              <h2 class="govuk-heading-l">How to apply <br>the Service Standard</h2>
                              <p>This service helps teams in DfE follow standards to build accessible, usable, safe, secure, and trusted
                services.</p>
                              <a href="https://apply-the-service-standard.education.gov.uk" target="_blank" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Visit the service</a>
                           </div>
                        </div>
                        <div class="dfe-banner__image-container">
                           <figure class="dfe-a-image dfe-a-image--cover">
                              <picture class="dfe-a-image__picture">
                                 <source srcset="/assets/images/webp/assidfe.webp" type="image/webp">
                                 <img src="/assets/images/assidfe.png" alt="">
                              </picture>
                           </figure>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section style="background-color:#f0f4f5;"  class="govuk-!-padding-top-8 govuk-!-padding-bottom-9 govuk-!-margin-top-5">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">

            <div class="govuk-grid-column-full govuk-!-margin-top-9 govuk-!-margin-bottom-5">
               <div class="govuk-grid-row split-panel" style="background-color:#f0f4f5;" >
                  <div class="govuk-grid-column-one-half text-column">
                     <h2 class="govuk-heading-l">Missing a standard?</h2>
                     <p class="govuk-body">If you cannot find a standard that you think should be in this manual, you can let the Standards Forum know.</p>
                     <p class="govuk-body">
                        <a href="/contact">Contact the forum</a>
                     </p>
                  </div>
                  <div class="govuk-grid-column-one-half image-column">
                     <div class="image-container" style="background-image: url('/assets/images/contact.png');"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}