{{ header({
"showNav": "true",
"showSearch": "false",
"showHeaderActionLinks": "false",
"showUserName": "false",
"userName": "",
"userNameURL": "",
"selectedNav": selectedNav,
"logoPath": "assets/images",
"searchInputName": "searchterm",
"logoAltText": "Department for Education standards manual",
"homeHref":"/",
"service": {
"name": serviceName,
"serviceUrl": "/"
},
"headerActionLinks": [
],
"primaryLinks": [
{
"url" : "/",
"label" : "Home"
},{
"url" : "/standards",
"label" : "Standards"
},{
"url" : "/categories",
"label" : "Categories"
},{
"url" : "/guidance",
"label" : "Guidance"
},{
"url" : "/contact",
"label" : "Contact"
}
]
})
}}